body {
    background: #f5f5f5;
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    font-family: "Avenir Next", Helvetica, Arial, "Lantinghei SC", "Microsoft YaHei", sans-serif;
}

h1, h2, h3, ol, ul, li, dl, dt, dd, p, form, pre {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.header {
    background: #2f89ea;
    height: 50px;
    min-width: 780px;
    color: #fff;
    position: relative;
    z-index: 10000;
}

#aside-nav {
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    min-height: calc(100vh - 50px);
    background: #e1e1e1;
    color: #666;
    padding-bottom: 10px;
}


header h1 {
    line-height: 50px;
    font-size: 28px;
    width: 200px;
    float: left;
}

.cmd-menu {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 22px;
}

#aside-nav li {
    padding: 5px 5px 5px 15px;
    cursor: pointer;
    list-style: none;
}

#aside-nav li:hover {
    background: #999;
    color: #fff;
}

#aside-nav li[data-current='1'] {
    background: #f5f5f5;
    color: #555;
    border-left: 4px solid #2f89ea;
}

#aside-nav .cmd-level-2 {
    margin-left: 20px;
}

#aside-nav h3 {
    padding: 5px 10px;
    margin-top: 15px;
    line-height: 24px;
    font-size: 18px;
    color: #333;
}

#cwd-panel {
    line-height: 30px;
    height: 30px;
    margin: 10px 0 0;
    float: left;
    cursor: pointer;
}

#cwd-panel h3 {
    float: left;
    background: #2455a4;
    color: #fff;
    width: 100px;
    text-align: center;
    font-size: 14px;
}
#cwd-panel h3 i {
    margin-right: 5px;
}

#cwd {
    padding: 0 10px;
    width: 500px;
    float: left;
    background: #fff;
    color: #555;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

#cwd:hover {
    overflow-x: visible;
}

#cwd-dir-list {
    position: absolute;
    z-index: 10;
    background: #1B4589;
    width: 520px;
    -webkit-column-count:2;
    -webkit-column-gap:0;
    -moz-column-count:2;
    -moz-column-gap:0;
}

#cwd-dir-list li {
    list-style: none;
    padding: 0 5px;
    cursor: pointer;
    color: #f5f5f5;
}

#cwd-dir-list li:hover {
    list-style: none;
    background: #0C2D62;
}

#cwd-dir-list li i {
    margin-right: 3px;
}

#cmd-title {
    padding: 8px 10px;
    color: #fff;
    background: #676767;
    margin-bottom: 10px;
}

#cmd-panel {
    padding: 5px 0 15px;
    margin: 20px 10px;
    background: #fff;
}

#repo {
    float: left;
    background: #ccc;
    color: #555;
    line-height: 30px;
    text-align: center;
    padding: 0 10px;
    margin: 10px 0 0;
    text-decoration: line-through;
}

#repo.in-repo {
    text-decoration: none;
    color: #fff;
    background: #2455a4;
    cursor: pointer;
}

#repo-detail {
    position: absolute;
    top: 10px;
    left: 300px;
    z-index: 10;
    background: #1B4589;
    color: #fff;
    width: 520px;
    overflow: hidden;
    line-height: 30px;
    padding: 5px 0;
}

#repo-detail dd {
    float: left;
    width: 400px;
    padding-right: 10px;
    font-size: 12px;
}

#repo-detail dt {
    float: left;
    clear: left;
    width: 100px;
    padding-left: 10px;
}

#repo-detail button {
    background: #789ABF;
    border: 0;
    font-size: 14px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}

#repo-detail button:hover {
    background: #5480B1;
}

#console-switch {
    float: left;
    background: #333;
    color: #eee;
    border-color: #2455a4;
    border-style: solid;
    border-width: 4px 0 0;
    line-height: 26px;
    margin: 10px 10px 0;
    padding: 0 10px 0 5px;
    cursor: pointer;
}

#console-switch:hover {
    border-color: #aaa;
}

#console-switch.active {
    border-color: #D8D37E;
    color: #D8D37E;
    padding: 0 10px 11px 5px;
}

#console-switch i {
    margin-right:3px;
}

#console-tty {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #333;
    color: #eee;
    font-size: 14px;
    font-family: 'Courier New';
    line-height: 18px;
    padding: 60px 10px 10px;
    border: 0;
    box-sizing: border-box;
    resize: none;
    opacity: .9;
}

#title {
    font-size: 20px;
    padding: 10px;
    color: #5072A8;
}

#cmd-desc {
    margin-bottom: 10px;
    color: #555;
}

fieldset {
    margin: 15px;
    padding: 10px;
    border: 0;
    background: #efefef;
}

fieldset legend {
    padding: 3px;
    background: #888;
    color: #fff;
}


fieldset label {
    display: block;
    height: 40px;
}

fieldset label b {
    display: inline-block;
    width: 140px;
    font-family: 'courier new';
    font-weight: normal;
}

input[type=text] {
    line-height: 30px;
    font-family: 'courier new';
    font-size: 16px;
    padding: 0 10px;
    border: 0;
}

#cmd-launch {
    background: #2f89ea;
    border: 0;
    padding: 5px 20px;
    margin-left: 15px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

#cmd-launch:hover {
    background: #2455a4;
}

#cmd-launch:disabled {
    background: #a9a9a9;
    color: #666;
}

#cmd-all {
    display: inline-block;
    font-size: 12px;
    font-family: 'courier new';
    margin-left: 5px;
    background: #333;
    color: #eee;
    padding: 0 10px;
    line-height: 20px;
}

.args input {
    width: 500px;
}

#cmd-options input[type=text] {
    width: 360px;
}

#main {
    min-width: 580px;
    margin-left: 200px;
    padding: 15px 10px;
    position: relative;
}

#main::before {
  content: "";
  position: absolute;
  left: -200px;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #e1e1e1;
  z-index: -1;
}

#main .btn-primary {
    margin-left: 10px;
}

#help {
    margin: 20px 10px;
}

#help-title {
    padding: 8px 10px;
    background: #999;
    color: #fff;
}

#help-title .fa,
#cmd-title .fa,
#toggle-console .fa {
    margin-right: 8px;
}




